temp/moc/moc_MainWidget.cpp
temp/moc/moc_predefs.h
temp/moc/moc_RetroGitNotify.cpp
temp/obj/MainWidget.o
temp/obj/moc_MainWidget.o
temp/obj/moc_RetroGitNotify.o
temp/obj/p3Git.o
temp/obj/qrc_images.o
temp/obj/RetroGitNotify.o
temp/obj/RetroGitPlugin.o
temp/obj/rsGitItems.o
temp/qrc/qrc_images.cpp
temp/ui/ui_MainWidget.h
lib/libRetroGit.dll.a
lib/RetroGit.dll
Makefile
Makefile.Debug
Makefile.Release
object_script.RetroGit.Debug
object_script.RetroGit.Release
temp.ps1
temp/moc/moc_GitGroupDialog.cpp
temp/obj/GitGroupDialog.o
temp/obj/moc_GitGroupDialog.o
temp/obj/GitCommitDialog.o
temp/obj/GitManager.o
temp/obj/moc_GitCommitDialog.o
temp/moc/moc_GitCommitDialog.cpp
temp/moc/moc_GitUserNotify.cpp
temp/obj/GitUserNotify.o
temp/obj/moc_GitUserNotify.o
temp/moc/moc_CodeWidget.cpp
temp/moc/moc_GitWidget.cpp
temp/moc/moc_PushesWidget.cpp
temp/obj/CodeWidget.o
temp/obj/GitWidget.o
temp/obj/moc_CodeWidget.o
temp/obj/moc_GitWidget.o
temp/obj/moc_PushesWidget.o
temp/obj/PushesWidget.o
temp/ui/ui_CodeWidget.h
temp/ui/ui_GitWidget.h
temp/ui/ui_PushesWidget.h
temp/moc/moc_GitBranchDialog.cpp
temp/obj/GitBranchDialog.o
temp/obj/moc_GitBranchDialog.o
temp/moc/moc_GitNewPRDialog.cpp
temp/moc/moc_PullRequestsWidget.cpp
temp/obj/GitNewPRDialog.o
temp/obj/moc_GitNewPRDialog.o
temp/obj/moc_PullRequestsWidget.o
temp/obj/PullRequestsWidget.o
temp/ui/ui_PullRequestsWidget.h
temp/moc/moc_PullRequestDetailsWidget.cpp
temp/obj/moc_PullRequestDetailsWidget.o
temp/obj/PullRequestDetailsWidget.o
temp/ui/ui_PullRequestDetailsWidget.h
